@import url('https://fonts.googleapis.com/css?family=Roboto:100|Work+Sans:200');

div {
    height: 100%;
}

article {
    width: 70%;
    padding: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text {
    font-size: 1.2em;
}

.container {
    display: table;
    width: 100%;
}

.left-half {
    background: url(./blueSignIn.jpg) no-repeat right top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 50%;
}

.right-half {
    position: absolute;
    right: 0;
    width: 50%;
}

@media only screen and (max-width: 500px) {

    .left-half {
        width: 20%;
    }

    .right-half {
        width: 80%;
    }

    article {
        width: 100%;
    }

    .signInButton {
        width: 10em;
        height: 3em;
        font-size: 0.4em;
    }
}











